ul {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  max-width: 50vw;
}

li {
  display: grid;
  place-content: center;
  width: 100px;
  list-style: none;
}

li a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: ease .3s;
}

li a:hover {
  transform: translateY(-10px);
  transition: ease .3s;
}

li img {
  width: 100px;
  height: 100px;
}

div {
  text-align: center;
}
